.article {

}

.article__part {
    font-family: 'Deca Serif New';
    font-size: 18px;
}

.article__accent {
    text-transform: uppercase;
    font-family: 'Mediator Narrow ExtraBold';
    font-size: 15px;
}

.article__part p {
    text-indent: 35px;
    margin: 0;
}

.article__part_beginning p:first-child {
    text-indent: 0px;
}

.article__image {
    margin: 37px 0px 30px 0px;
}

.article__image img {
    width: 100%;
}

.article__image span {
    font-size: 26px;
    line-height: 100%;
}

.article__image_tip {
    margin-top: 20px;
}

.article__image_tip img {
    width: auto;
    height: 380px;
    transform: translate(-23%);
}

.article p {
    text-align: justify;
    display: inline-block;
}

.article__anchor {
    text-decoration: none;
    color: black;
    font-size: 26px;
}


.article__anchor_first-number {
    text-align: right;
}