.header__journal-info {
    color: white;
    position: absolute;
    z-index: 1;
    top: 11px;
    left: 7px;
}

.header__journal-number {
    font-family: 'Milks Bold';
    font-size: 12px;
    padding: 2px 4px 0px 4px;
    border: 1px solid white;
}

.header__article-type {
    font-family: 'Mediator Narrow Light';
    font-size: 11px;
    text-transform: uppercase;
    vertical-align: top;
    margin-left: 10px;
}

.header__content-wrapper {
    margin: 70px 10px 0 10px;
    padding-left: 20px;
    border-left: 1px solid black;
    box-sizing: border-box;
}

.header__title {
    font-family: 'Probel';
    font-size: 45px;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 0;
    max-width: 70%;
}

.header__subtitle {
    font-family: 'Mediator Regular';
    font-size: 20px;
    line-height: 100%;
}

.header__author {
    position: relative;
    left: -20px;
    bottom: -5px;
    font-family: 'Mediator Narrow ExtraBold';
    font-size: 19px;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: bold;
    line-height: 1;
}

.header__author::before {
    content: '';
    display: inline-block;
    background-image: url('../assets/img/pencil.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left;
    padding-right: 9px;
    width: 38px;
    height: 23px;
}

.header__image {
    width: 100%;
    position: relative;
}

.header__image img {
    width: 100%;
}

.header__anchor {
    position: absolute;
    right: 10px;
    bottom: -30px;
    text-decoration: none;
    color: black;
    font-size: 26px;
}

@media screen and (min-width: 768px) {
    .header__content-wrapper {
        width: 600px;
        margin: 30px auto 0 auto;
    }

    .header__title {
        max-width: 100%;
    }

    .header__journal-info {
        position: relative;
        width: 600px;
        margin: 0 auto;
        top: 30px;
        left: 0;
    }

    .header__journal-number {
        display: inline-block;
        font-size: 25px;
        padding: 7px 7px 2px 7px;
    }

    .header__article-type {
        font-size: 18px;
        margin-left: 15px;
        line-height: 100%;
    }

    .header__image {
        top: -42px;
    }
}