.article__part {
    font-family: 'Deca Serif New';
    font-size: 18px;
    margin-top: 30px;
}

.article__part::before {
    content: '';
    display: block;
    margin: 0 auto 30px auto;
    width: 52px;
    height: 15px;
    background-image: url('../assets/img/star.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: left;
}

.article__accent {
    text-transform: uppercase;
    font-family: 'Mediator Narrow ExtraBold';
    font-size: 15px;
}

.article__part p {
    text-indent: 35px;
    margin: 0;
}

.article__part_beginning p:first-child {
    text-indent: 0px;
}

.article__part_beginning::before {
    display: none;
}

.article__aside {
    margin-top: 35px;
}

.article__image {
    margin: 37px 0px 30px 0px;
}

.article__image img {
    width: 100%;
}

.article__image span {
    font-size: 26px;
    line-height: 100%;
}

.article__image_tip {
    margin-top: 20px;
    overflow: hidden;
}

.article__image_tip img {
    width: auto;
    height: 380px;
    transform: translate(-20%);
}

.article p {
    text-align: justify;
    display: inline-block;
}

.article__anchor {
    text-decoration: none;
    color: black;
    font-size: 26px;
}

@media screen and (min-width: 768px) {
    .article__image_tip img {
        width: auto;
        height: 630px;
    }
}

@media screen and (min-width: 1024px) {
    .article__image_tip img {
        transform: translate(0);
    }
}