@font-face {
    font-family: 'Probel';
    src: url('../assets/fonts/Probel.otf');
}

@font-face {
    font-family: 'Mediator Regular';
    src: url('../assets/fonts/MDT55_0.otf');
}

@font-face {
    font-family: 'Mediator Narrow Light';
    src: url('../assets/fonts/MDN47_0.otf');
}

@font-face {
    font-family: 'Mediator Narrow ExtraBold';
    src: url('../assets/fonts/MDN87_0.otf');
}

@font-face {
    font-family: 'Deca Serif New';
    src: url('../assets/fonts/DNF55.otf');
}

@font-face {
    font-family: 'Polls Script Bold';
    src: url('../assets/fonts/TypeType - TT Polls Script Bold.otf');
}

@font-face {
    font-family: 'Milks Bold';
    src: url('../assets/fonts/TypeType - TTMilks-Bold_0.otf');
}


